/* nav-belt  */
.header {
  background-color: #c7cacc;
  margin-top: -8px;
}

.company-logo {
  width: 65px;
  height: 35px;
  background-image: url(../assets/CompanyLogo/Company-Logo-1.webp);
  background-repeat: no-repeat;
  background-size: contain;
}

.nav-fill {
  position: relative;
  left: 100px;
}

.all-input-search {
  margin-top: 5px;
}

.all-button {
  border-radius: 10px 0px 0px 10px;
  background-color: #c7cacc;
}

.all-button:hover {
  background-color: #83888a;
}

.input-search {
  width: 400px;
}

.button-search {
  cursor: pointer;
  border: solid;
  border-radius: 10px;
  height: 40px;
  width: 80px;
  color: #3498db;
  font-size: 0.9em;
  margin-right: 200px;
  margin-left: -9px;
  border-radius: 0px 10px 10px 0px;

}

.button-search:hover {
  background-color: #3498db;
  color: white;
  border-radius: 10px;
  border-color: #3498db;
  border-radius: 0px 10px 10px 0px;
}

.account-button {
  cursor: pointer;
  border: solid;
  border-radius: 10px;
  background-color: transparent;
  height: 50px;
  width: 100px;
  color: #3498db;
  font-size: 1.0em;
  margin-right: 200px;
}

.account-button:hover {
  background-color: #3498db;
  color: white;
  border-radius: 10px;
  border-color: #3498db;
}

.shopping-cart {
  background-repeat: no-repeat;
  background-image: url(../assets/ShoppingCart/ShoppingCart.png);
  width: 30px;
  height: 30px;
  background-size: contain;
  border-radius: 5px;
}

@media only screen and (min-width:360px) and (max-width:780px) {
  .header{
    padding-right: 0px;
  }
  .company-logo {
    margin-top: 25px;
  }

  .nav-fill {
    position: relative;
    left: 0px;
  }

  .all-button {
    display: none;
  }

  .input-search {
    width: 260px;
  }

  .account-button {
    position: relative;
    top: 110px;
  } 
  .nav-right {
    position: relative;
    bottom: 120px;
  } 

} 

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .input-search {
    width: 400px;
    position: relative;
  }

  .nav-fill {
    position:sticky;
    top: 45px;
  }

  .account-button {
    position: relative;
    top: -5px;
  }

  .shopping-cart {
    position: relative;
    bottom: 15px;
    left: 650px;
  }

}