.nav-main {
  margin-top: 70px;
  margin-bottom: 5px; 
}

.hamburger-menu {
  margin-left: 10px;
}

.custom-service-button {
  margin-right: 10px;
}

@media only screen and (min-width: 360px) and (max-width: 700px) {
  .nav-main {
    margin-top: 210px;
    margin-bottom: 30px; 
  }

  .card-size {
    margin-left: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .nav-main {
    margin-top: 120px;
    margin-bottom: 50px; 
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .nav-main {
    margin-top: 120px;
    margin-bottom: 50px; 
  }
}