.product {
  max-width: 40%;
  height: auto;
  margin: 20px;
  padding: 35px;
  display: inline-block;
  margin: auto;
}

.product-img {
  width: 287px
}

@media only screen and (min-width:360px) and (max-width:780px) {
  .product {
    margin: 20px;
    padding: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .product {
    padding: 24px;
  }
}